/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import 'https://www.nerdfonts.com/assets/css/webfont.css';

:root {
  /* Colors from Catppuccin (Mocha) */

  /* Base colors */
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;

  /* Accents */
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;

  /* Background */
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;

  /* General appearance */
  --text-size: 14px;
  --icon-size: 14px;

  --text-color: var(--text);

  --icon-color: var(--subtext1);
  --background-color: rgb(from var(--base) r g b / 70%);
  --button-gradient: linear-gradient(
    rgb(from var(--surface2) r g b / 85%),
    rgb(from var(--surface1) r g b / 85%)
  );

  --blue-gradient: linear-gradient(
    var(--teal),
    var(--sapphire)
  );
}

* {
  font-family: "JetBrainsMono Nerd Font Propo";
  padding: 0;
  margin: 0;
}

body {
  font-size: var(--text-size);
  color: var(--text-color);
  overflow: hidden;
}

div,
span,
p {
  cursor: default;
  user-select: none;
}

i {
  margin-right: 7px;
  font-size: var(--icon-size);
}

html,
body,
#root {
  height: 100%;
}

#root {
    background: var(--background-color);
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: stretch;
  height: 100%;
  padding: 0 0.5vw;
  border-bottom: 1px solid rgb(from var(--overlay0) r g b / 75%);
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
  height: 100%;
}

.center {
  justify-self: center;
  align-items: stretch;
}

.right {
  justify-self: end;
}

.logo,
.network,
.memory,
.cpu,
.tiling-direction,
.binding-mode,
.paused-button,
.battery,
.volume,
.date {
    margin: 0 8px;
    display: flex;
    align-items: center;
}

.binding-mode,
.tiling-direction,
.paused-button {
  color: var(--text);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.workspaces {
  display: flex;
  align-items: stretch;
}

.workspace {
  color: var(--blue);
  background: transparent;
  font-weight: bold;
  padding: 0 1em;
  border: none;
  cursor: pointer;
}

.workspace.focused,
.workspace:hover {
  color: var(--base);
  background: var(--blue);
}

.logo {
  background: linear-gradient(var(--sapphire), var(--blue));
  -webkit-background-clip: text; /* clip background to text */
  -webkit-text-fill-color: transparent; /* hide the normal text color */
  color: var(--blue);
}

.network {
  color: var(--sapphire);
}

.memory {
  color: var(--mauve);
}

.cpu {
  color: var(--peach);
}

.cpu .high-usage {
  color: var(--red);
}

.battery {
  position: relative;
  color: var(--green);
}

.battery .charging-icon {
  position: absolute;
  font-size: 7px;
  left: -8px;
  top: 3px;
}

.date {
  color: var(--blue);
}

.volume {
    color: var(--mauve);
}

